<!--page header start-->
<div class="page-header">
    <div class="row">
        <div class="col-sm-6">
            <h4>В разработке...</h4>
        </div>
        <div class="col-sm-6 text-right">
            <ol class="breadcrumb">
                <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                <li>В разработке...</li>
            </ol>
        </div>
    </div>
</div>
<!--page header end-->
<!--start page content-->
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>В разработке...</h3>
                    <p>Раздел находится в разработке. Скоро будет готово!</p>
            </div>
        </div>
    </div>
</div>
<!--end page content-->
