@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MT.BizTalk Logger</title>
</head>
<body>
    <div>
        <h1>Ваш браузер не поддерживается</h1>
    </div>
</body>
</html>
